.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 12px;
  height: 50vh;
}

.btn {
  padding: 12px;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
}

.btn:hover {
  opacity: 50%;
}

.btn-change-color {
  background-color: black;
  color: white;
}

.btn-change-size {
  background-color: orange;
  color: white;
}

.btn-remove-element {
  background-color: red;
  color: white;
}
